h1{
    font-family: sans-serif;
}
h3{
    color:rgba(0,0,139,0.8);
}
a{
    color: darkgreen;
}
del{
    color: grey;
}
mark{
    background-color:pink;
    color: darkblue;
}
h2 {
   font-family: sans-serif;
   text-align: left;
}
pre{
    font-family: monospace
}
.transparent-text{
    color:rgba(0,0,0,0.5);
}
body{
    background: url(https://myuni.adelaide.edu.au/courses/75039/files/10149623/download?wrap=1);
    background size:cover;
    background-color:#DCF5F5;
}
