h1{
    font-family: sans-serif;
}
h3{
    color:rgba(0,0,139,0.8);
}
a{
    color: darkgreen;
}
del{
    color: grey;
}
mark{
    background-color:pink;
    color: darkblue;
}
h2 {
   font-family: sans-serif;
   text-align: left;
}
pre{
    font-family: monospace;
}
.transparent-text{
    color:rgba(0,0,0,0.5);
}
.background{
    background: url('cross.png');
    background-color:#DCF5F5;

}
#content{
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 8px
}
.blue{
    color:blue;
}
.fancy{
    font-family:cursive;
}
.red-border{
    border: 1px solid red;
}
.red-outline{
    outline:1px solid red;
}

.red{
    border: 1px solid red;
}
.blue{
    border: 1px solid blue;
}
.red-border-rounded{
    border: 1px solid red;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
    border-bottom: none;
}
.blue-border-rounded{
    border:1px solid blue;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}